@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    font-weight: 700;
}

body {
    background-color: #c5e4e7;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 900px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    padding: 32px;
    border-radius: 1rem;
}

.result {
    background-color: #00474b;
    height: 100%;
    width: 400px;
    border-radius: 1rem;
}

.controls {
    background-color: #ffffff;
    height: 100%;
    width: 400px;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.controls label {
    color: #5c6466;
    margin-bottom: .375rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tipControls {
    display: flex;
    gap: 8px;

}

.tipControls button, .tipControls input {
    width: 120px;
    height: 50px;
    border-radius: .25rem;
    text-align: center;
    font-size: 1.375rem;
    cursor: pointer;
}

.tipControls button {
    transition: 0.2s;
}

.tipControls button:hover {
    background-color: #9fe8df;
    color: #00474b;
    transition: 0.2s;
}

.tipControls input, .peopleDiv input, .bilDiv input {
    background-color: #f3f8fb;
    border-radius: .25rem;
    background-color: #f3f8fb;
}

.tipControls button {
    background-color: #00474b;
    color: white;
}

.peopleDiv input, .bilDiv input {
    font-size: 1.4rem;
    padding: 12px;
    text-align: right;
}

.peopleDiv label, .bilDiv label {
    margin-bottom: -0.9375rem;
}

input:focus {
    outline: #4da096 2px solid;
}

.personIcon, .dollarIcon {
    position: relative;
    display: ;
    top: 2.375rem;
    left: .9375rem;
}